
<%- include('partials/header.ejs') %>

<% if (error != '') { %>
    <%= error %>
<% } else { %>
<h2 class="page-title">New film</h2>
<form action="/film/save" method="POST">
    <div class="film-edit">
        <div class="film-name"><input type="text" name="filmName" value="<%= item[0].name %>"></div>
        <div class="film-poster-link"><input type="text" name="filmPoster" value="<%= item[0].poster %>"> <img src="<%= item[0].poster %>"></div>
        <div class="film-url"><input type="text" name="filmImdbUrl" value="<%= item[0].imdbUrl %>"></div>
        <div class="film-btn">
            <button type="submit" class="btn btn-primary">Save</button>
            <button type="button" class="btn btn-primary" onclick="javascript:location.href='/';">Cancel</button>
            <input type="hidden" name="filmId" value="<%= item[0]._id %>">
        </div>
    </div>
</form>
<% } %>

<%- include('partials/footer.ejs') %>