<%- include('partials/header.ejs') %>
    
    <form action="/q" method="POST" class="search-form" id="searchForm">
    <div class="input-group mb-3">
      <input type="text" class="form-control" placeholder="Search your library" name="searchInput" <% if (search != '') { %> value="<%= search %>" <% } %>>
      <div class="input-group-append"><button class="btn btn-primary"><i class="fas fa-search"></i></button></div>
    </div>
    </form>
    
    <% if (data != null && loggedIn) { data.forEach( item => { %>
    <div class="d-flex flex-row justify-content-between mb-3">
        <div class="d-flex flex-column p-3">
          <a href="<%= item.poster %>" target="_blank"><img src="<%= item.poster %>" class="icon-img"></a>
          <% if (loggedIn) { %>
            <div class="film-name"><%= item.name %></div>
            <div class="mb-1 p-1">
              <a href="/film/<%= item._id %>">Edit</a> &nbsp; 
              <a href="/film/delete/<%= item._id %>" class="red" onclick="return confirm('Are you sure you wish to delete this?');">Delete</a>
            </div>
          <% } %>
        </div>
        <div class="film-code pt-4 pl-4">
          <a href="<%= item.imdbUrl %>" target="_blank">
            <img id="imdb-logo" src="./images/imdblogo.png">
            <span class="mb-2">
              View film
            </span>
          </a>
        </div>
    </div>
    <% }); } %>

<%- include('partials/footer.ejs') %>